<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>City</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'I guess you are from ' + ${city} + '!'" />
    
    <br>
    
    <p th:each="user: ${users}" th:text="${user}">Test</p>
    
    <br>
    
    
    <div th:remove="tag" th:utext="${html_content}">one</div>
    
    
    <br>
    
    <div th:remove="tag" th:utext="${movie}">one</div>
</body>
</html>
